*,
*::before,
*::after {
  box-sizing: border-box;

  @media (prefers-reduced-motion: reduce) {
    // stylelint-disable declaration-no-important, plugin/no-unsupported-browser-features
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    // stylelint-enable declaration-no-important, plugin/no-unsupported-browser-features
  }
}

html {
  scroll-padding-top: 5rem;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica",
    "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.4;
  text-size-adjust: none; // stylelint-disable-line plugin/no-unsupported-browser-features

  @include bp($medium) {
    font-size: 120%;
  }

  @include bp($large) {
    font-size: 130%;
  }
}

body {
  margin: 0;
  color: $black;
}

*:focus {
  outline: 0.1875rem solid transparent;
}

:any-link {
  position: relative;
  display: inline-block;
  text-decoration-skip-ink: auto;

  &:link {
    color: $primary;
  }

  &:visited {
    color: $primary;
  }

  &:focus,
  &:hover,
  &[aria-current="page"] {
    color: $primary-selected;
  }

  &:focus {
    text-decoration: none;
    outline: 0.1875rem solid $primary-selected;
  }

  &:hover,
  &[aria-current="page"] {
    text-decoration-thickness: 0.12rem; // stylelint-disable-line plugin/no-unsupported-browser-features
  }

  &:focus-visible {
    color: $primary;
    text-decoration: none;
    outline: 0.1875rem solid $primary-selected;
    outline-offset: 0;
  }

  // stylelint-disable a11y/no-outline-none
  &:focus:not(:focus-visible) {
    outline: none;
  }
  // stylelint-enable a11y/no-outline-none
}

h1,
h2,
h3 {
  margin: 1rem 0 0;
  font-weight: 700;
  line-height: 1.25;

  a {
    &:link,
    &:visited,
    &:focus {
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  margin-top: 1.5rem;
  font-size: 2.25rem;
}

h2 {
  color: $gray-darkest;
  font-size: 1.75rem;
}

h3 {
  color: $gray-darker;
  font-size: 1.35rem;
}

p {
  max-width: 65ch;
  font-size: 1rem;
}

ul,
ol {
  margin-top: 0.5rem;
  padding-left: 0;
  list-style-type: none;
}

img,
svg,
video,
iframe {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}
