#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT=production

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app_baseURL="http://aggro.docksal.site"

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database_default_hostname=db
database_default_database=default
database_default_username=user
database_default_password=user
database_default_DBDriver=MySQLi

TWITTER_USERNAME=
CONSUMER_KEY=
CONSUMER_SECRET=
ACCESS_TOKEN=
ACCESS_TOKEN_SECRET=

UA_BMXFEED="Aggro (https:/github.com/jsnmrs/aggro)"
UA_SPOOF="Aggro (https:/github.com/jsnmrs/aggro)"
