# Attempt to load files from production if they're not in our local version
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^.*(\.gif|\.jpe?g|\.png)$ /assets/img/placeholder.jpg [L]
</IfModule>
