header,
footer {
  background-color: $gray-lighter;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $white;
}

.popular-block,
.elsewhere {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $gray-lightest;
}

.timeago {
  padding-left: 0.25rem;
  color: $gray-dark;
  font-weight: 400;
  font-size: 70%;

  .player & {
    padding: inherit;
    color: inherit;
    font-size: inherit;
  }
}

.scroll-nav {
  text-align: center;
}

.skip {
  @extend %u-hidden-visually;

  &:active,
  &:focus {
    position: fixed;
    left: 0;
    z-index: 25;
    display: block;
    padding: 0.5em;
    background-color: $white;
  }
}

.elsewhere {
  h3 {
    margin-bottom: 0.5rem;
  }

  @include bp($medium) {
    .four {
      width: 31%;
      margin-right: 3%;

      &:last-child {
        width: 32%;
        margin-right: 0;
      }
    }
  }
}

.nav {
  @include bp($medium) {
    float: right;
    margin-top: 1.7rem;
    margin-bottom: 1rem;
  }
}

.tagline {
  margin-top: 1.8rem;
}

.videogrid {
  margin-top: 1rem;
}

.feature-video {
  line-height: 1.2;

  .three {
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 1em;

    &:nth-child(3) {
      clear: left;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @include bp($medium) {
    .three {
      width: 23%;
      margin-right: 2%;

      &:nth-child(3) {
        clear: none;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.flex-video {
  position: relative;
  height: 0;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 67.5%;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 95vh;
  }

  &.widescreen {
    padding-bottom: 56.25%;
  }

  &.vimeo {
    padding-top: 0;
  }
}

.theater {
  @include bp($medium) {
    margin-bottom: -1em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: $black-print;
  }

  @include bp($x-large) {
    padding-top: 3.5em;
    padding-bottom: 3.5em;
  }
}

.label {
  position: relative;
  top: -0.25em;
  display: inline-block;
  padding: 0.5em;
  color: $white;
  font-size: 65%;
  line-height: 1;
  background-color: $black;
  border-radius: 0.4em;

  &:link,
  &:visited {
    color: $white;
  }
}

.alert {
  background-color: $alert;
}

.secondary {
  background-color: $secondary;
}

.btn {
  display: inline-block;
  padding: 0.25em;
}

input[type="submit"],
.button {
  background-color: $gray-lighter;
  border: 0.0625rem solid $gray;
}

.news-source {
  display: block;
  color: $black;

  @include bp($medium) {
    display: inline;
    padding-right: 0.25rem;
  }

  a {
    &:link,
    &:visited {
      color: $black;
    }
  }
}

.list-col {
  @include bp($x-small) {
    column-count: 2;
  }

  @include bp($medium) {
    column-count: 3;
  }
}
