name: Test NPM build

on:
  workflow_dispatch: # enable run button on github.com
  pull_request:

jobs:
  build-npm:
    name: Run NPM build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "npm"
      - name: Process and lint
        run: |
          node -v
          npm -v
          npm install
          npm run build
