$primary: #005600;
$primary-selected: darken($primary, 10%);
$black: #222;
$gray-lightest: #eee;
$gray-darker: #555;
$gray-darkest: #444;
$white: #fff;

$small: 30em; // 480px
$medium: 48em; // 768px
$large: 75em; // 1200px

$max-width: 55em; // 880px
