$primary: #005600;
$primary-selected: darken($primary, 10%);
$black: #222;
$gray-lightest: #eee;
$gray-darker: #555;
$gray-darkest: #444;
$white: #fff;
$gray-dark: #757575;

$gray-lighter: #e1e1e1;
$gray-light: #bbb;
$gray: #999;

$xx-small: 20em; // 320px
$x-small: 30em; // 480px
$small: 40em; // 640px
$medium: 48em; // 768px
$large: 62em; // 992px
$x-large: 75em; // 1200px
$xx-large: 80em; // 1280px

$max-width: 55em; // 880px
